<!doctype html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>WithUS</title>

    <!-- 新 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <!-- 可选的Bootstrap主题文件（一般不用引入） -->
    <link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">


</head>
<body>

<div class="container">
    <div class="row">
        <div class="span12">
            <div class="page-header">
                <h1>
                    活动财务流水
                </h1>
            </div>
            <div class="col-md-10">
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th>
                            流水号
                        </th>
                        <th>
                            产生时间
                        </th>
                        <th>
                            金额（元）
                        </th>
                        <th>
                            类型
                        </th>
                        <th>
                            责任人
                        </th>
                        <th>
                            审核人
                        </th>
                        <th>
                            备注
                        </th>

                    </tr>
                    </thead>
                    <tbody>
                    #foreach($account in $!accountList)
                    <tr>
                        <td>
                            ${account.id}
                        </td>
                        <td>
                            ${account.gmtCreate}
                        </td>
                        <td>
                            ${account.money}
                        </td>
                        <td>
                            #if(${account.type} == 1)
                                收入
                            #elseif(${account.type} == 0)
                                支出
                            #end
                        </td>
                        <td>
                            <a href="#">${account.actionPeopleName}</a>
                        </td>
                        <td>
                            <a href="#">${account.auditPeopleName}</a>
                        </td>
                        <td>
                            ${account.desc}
                        </td>
                    </tr>
                    #end

                    </tbody>
                </table>
            </div>

        </div>
    </div>
</div>






<!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
<script src="http://cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
<!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
<script src="http://cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>


</body>
</html>