#set($layout="layout/modernbusiness.vm")

<link href="http://cdn.gbtags.com/summernote/0.5.2/summernote.css" rel="stylesheet">
<link href="http://cdn.gbtags.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">

<link href="/css/bootstrap-datetimepicker.min.css" rel="stylesheet" media="screen">

<div style="background-color:white;padding:30px;">

    <div class="page-header">
        <h1>活动编辑</h1>
    </div>

    <form class="form-horizontal" method="POST">
        <input type="hidden" name="${_csrf.parameterName}"
               value="${_csrf.token}">

        <input type="hidden" id="desc" name="desc" value="">

        <div class="form-group form-group-lg">
            <label class="col-sm-2 control-label" for="name">活动名称</label>

            <div class="col-sm-8">
                <input class="form-control" type="text" id="name" name="name" placeholder="请输入活动名称"
                       value="$!activity.name">
            </div>
        </div>

        <div class="form-group form-group-sm">
            <label class="col-sm-2 control-label" for="">活动时间</label>

            <div class="col-sm-3">
                <input class="form-control form_datetime" type="text" id="beginDate" name="beginDate"
                       placeholder="活动开始时间" readonly value="$!activity.beginDate">
            </div>
            <label class="col-sm-1" style="text-align:center">--</label>

            <div class="col-sm-3">
                <input class="form-control form_datetime" type="text" id="endDate" name="endDate" placeholder="活动结束时间"
                       readonly value="$!activity.endDate">
            </div>
        </div>

        <div class="form-group form-group-sm">
            <label class="col-sm-2 control-label" for="">活动地点</label>

            <div class="col-sm-8">
                <input class="form-control" type="text" id="address" name="address" placeholder="活动地点"
                       value="$!activity.address">
            </div>
        </div>

        <div class="form-group form-group-sm">
            <label class="col-sm-2 control-label" for="">活动详情</label>

            <div class="col-sm-8">
                <div id="summernote">
                    $!{activity.desc}
                </div>
            </div>
        </div>


        <button type="submit" class="btn btn-success col-sm-offset-8" onclick="doEdit()">
            #if($!action == "create")
                创建
            #else
                保存
            #end
        </button>

    </form>

</div>


<script src="http://cdn.gbtags.com/summernote/0.5.2/summernote.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.6/moment.js"></script>

<script type="text/javascript" src="/js/bootstrap-datetimepicker.min.js" charset="UTF-8"></script>
<script type="text/javascript" src="/js/bootstrap-datetimepicker.zh-CN.js" charset="UTF-8"></script>

<script type="text/javascript">

    $('#summernote').summernote({

        height: 350,
        minHeight: null,
        maxHeight: null,
        onImageUpload: function (files, editor,$editable) {
            console.log('image upload:', files, editor, $editable);
            sendImage(files[0], editor, $editable)
        }
    });

    function sendImage(file, editor,$editable) {
        data = new FormData();
        data.append("file", file);


        var token = $("meta[name='_csrf']").attr("content");
        var header = $("meta[name='_csrf_header']").attr("content");

        $.ajax({
            data: data,
            type: "POST",
            url: "/img/upload",
            cache: false,
            processData: false,
            contentType: false,
            datatype: 'json',

            beforeSend: function (xhr) {
                xhr.setRequestHeader(header, token);
            },

            error: function () {
                console.log("error");
            },
            success: function (data) {
                console.log("success" + data);
                editor.insertImage($editable, data['url']);
            }

        });

    }

</script>


<script type="text/javascript">
    $(".form_datetime").datetimepicker(
            {
                language: 'zh-CN',
                format: "yyyy-mm-dd hh:ii",
                weekStart: 1,
                todayBtn: true,
                autoclose: true,
                todayHighlight: true,
                minView: 0
            }
    );
</script>

<script>
    function doEdit() {
        $("#desc").val($("#summernote").code());
        this.parent.submit;
    }
</script>

