#set($layout="layout/modernbusiness.vm")



<div style="background-color: white; padding: 20px;" class="container">
    <div class="row">
        <div class="col-md-10">
            <h3>已有需求</h3>
        </div>
        <div class="col-md-2">
            <button class="btn btn-success">我要加需求</button>
        </div>
    </div>

    <div class="row">
        <table class="table table-condensed table-hover">

            <thead>

            <th>序号</th>
            <th>创建人</th>
            <th>创建时间</th>
            <th>需求描述</th>
            <th>当前状态</th>
            <th>处理人</th>
            <th>备注</th>

            </thead>

            <tbody>

                #foreach($require in $!requireList)
                <tr>
                    <td>$velocityCount</td>
                    <td>$!require.creatorNick</td>
                    <td>$DateUtil.longFormat($!require.gmtCreate)</td>
                    <td>$!require.desc</td>
                    <td style="color:#if($!require.status.code== "已完成") green;
                    #else
                            red;
                    #end">
                        $!require.status.label
                    </td>
                    <td>$!require.acceptor</td>
                    <td>$!memo</td>
                </tr>

                #end

            </tbody>

        </table>
    </div>


</div>





