#set($layout="layout/thomsoon.vm")


<div class="text-intro" id="site-type">

          <h1>Un amigo me llevó de la mano juntos</h1>
          <h1 class="typewrite"><span>Portfolio</span></h1>
          <p>多少人走着却困在原地
              多少人活着却如同死去
              多少人爱着却好似分离
              多少人笑着却满含泪滴

              谁知道我们该去向何处
              谁明白生命已变为何物
              是否找个借口继续苟活
              或是展翅高飞保持愤怒
              我该如何存在

              </p>

        </div>

<ul class="portfolio-grid">

    
    <li class="grid-item" data-jkit="[show:delay=100;speed=500;animation=fade]">
      <img src="img/tmp/1.jpg">
        <a class="ajax-link" href="single.html">  
          <div class="grid-hover">
            <h1>Single</h1>
            <p>Branding</p>
          </div>
        </a>  
    </li>

    <li class="grid-item" data-jkit="[show:delay=100;speed=500;animation=fade]">
      <img src="img/1.jpg">
        <a class="ajax-link" href="single.html">  
          <div class="grid-hover">
            <h1>Single</h1>
            <p>Branding</p>
          </div>
        </a>      
    </li>    
    
    <li class="grid-item" data-jkit="[show:delay=100;speed=500;animation=fade]">
      <img src="img/tmp/2.jpg">
        <a class="ajax-link" href="single.html">  
          <div class="grid-hover">
            <h1>Single</h1>
            <p>Branding</p>
          </div>
        </a>      
    </li>  
    
    <li class="grid-item" data-jkit="[show:delay=100;speed=500;animation=fade]">
      <img src="img/tmp/3.jpg">
        <a class="ajax-link" href="single.html">  
          <div class="grid-hover">
            <h1>Single</h1>
            <p>Branding</p>
          </div>
        </a>      
    </li>    

    <li class="grid-item" data-jkit="[show:delay=100;speed=500;animation=fade]">
      <img src="img/tmp/4.jpg">
        <a class="ajax-link" href="single.html">  
          <div class="grid-hover">
            <h1>Single</h1>
            <p>Branding</p>
          </div>
        </a>      
    </li>    

    <li class="grid-item" data-jkit="[show:delay=100;speed=500;animation=fade]">
      <img src="img/tmp/6.jpg">
        <a class="ajax-link" href="single.html">  
          <div class="grid-hover">
            <h1>Single</h1>
            <p>Branding</p>
          </div>
        </a>      
    </li>  

  </ul>

