#set($layout="layout/modernbusiness.vm")

<div style="background-color:white;padding:30px;">

    <div class="page-header">
        <h1>活动财务流水</h1>

        <div class="col-md-offset-10">
            <button class="btn btn-success" data-toggle="modal" data-target="#addAccountInfoModal">新增流水</button>
        </div>
    </div>

    #if($!sysmsg)
        <p>$!sysmsg</p>
    #stop
    #end


    <!-- 新增流水模态框 -->
    <div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
         id="addAccountInfoModal">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">新增活动财务流水</h4>
                </div>

                <div class="modal-body">
                    <div class="container-fluid">
                        <form class="form-horizontal" method="post">

                            <input type="hidden" name="${_csrf.parameterName}"
                                   value="${_csrf.token}">
                            <input type="hidden" name="action" value="add">

                            <div class="form-group">
                                <div class="col-md-2">
                                    <label class="control-label">本活动</label>
                                </div>

                                <div class="col-md-2">
                                    <select name="direction" class="form-control">
                                        <option value="1">收到</option>
                                        <option value="2">支付</option>
                                    </select>
                                </div>
                                <div class="col-md-2">
                                    <input type="text" placeholder="责任人" class="form-control" name="actionUserNickName">
                                </div>
                                <div class="col-md-2">
                                    <input type="text" placeholder="金额" class="form-control" name="money">
                                </div>
                                <div class="col-md-1">
                                    <label class="control-label">元</label>
                                </div>

                            </div>
                            <div class="form-group">
                                <div class="col-md-9">
                                    <textarea class="form-control" name="memo" placeholder="备注"
                                              rows="2"></textarea>
                                </div>
                            </div>

                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                                <button type="submit" class="btn btn-primary">提交</button>
                            </div>

                        </form>
                    </div>
                </div>

            </div>
        </div>
    </div>


    <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active"><a href="#pass" aria-controls="pass" role="tab"
                                                  data-toggle="tab">财务流水</a></li>
        <li role="presentation"><a href="#waitAudit" aria-controls="waitAudit" role="tab" data-toggle="tab">待审核流水</a>
        </li>
        <li role="presentation"><a href="#unpass" aria-controls="unpass" role="tab" data-toggle="tab">未通过流水</a></li>
        <li role="presentation"><a href="#invalid" aria-controls="invalid" role="tab" data-toggle="tab">废弃流水</a></li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="pass">
            <table class="table table-hover table-condensed" style="width:100%;">
                <thead>
                <tr>
                    <th>
                        产生时间
                    </th>
                    <th>
                        金额（元）
                    </th>
                    <th>
                        类型
                    </th>
                    <th>
                        责任人
                    </th>
                    <th>
                        提交人
                    </th>
                    <th>
                        审核人
                    </th>
                    <th>
                        备注
                    </th>

                </tr>
                </thead>
                <tbody>
                    #foreach($accountInfo in $!accountInfoList)
                        #if($!accountInfo.status.code == "10")
                            <tr>
                                <td>$DateUtil.longFormat($!accountInfo.gmtCreate)</td>
                                <td>$!accountInfo.money</td>
                                <td>$!accountInfo.direction.label</td>
                                <td>$!accountInfo.actionUserNickName</td>
                                <td>$!accountInfo.submitUserNickName</td>
                                <td>$!accountInfo.auditUserNickName</td>
                                <td>$!accountInfo.memo</td>
                            </tr>
                        #end
                    #end

                </tbody>
            </table>
        </div>
        <div role="tabpanel" class="tab-pane" id="waitAudit">
            <table class="table table-hover table-condensed" style="width:100%;">
                <thead>
                <tr>
                    <th>
                        产生时间
                    </th>
                    <th>
                        金额（元）
                    </th>
                    <th>
                        类型
                    </th>
                    <th>
                        责任人
                    </th>
                    <th>
                        提交人
                    </th>
                    <th>
                        备注
                    </th>
                    <th>
                        操作
                    </th>

                </tr>
                </thead>
                <tbody>
                    #foreach($accountInfo in $!accountInfoList)
                        #if($!accountInfo.status.code == "1")
                        <tr>
                            <td>$DateUtil.longFormat($!accountInfo.gmtCreate)</td>
                            <td>$!accountInfo.money</td>
                            <td>$!accountInfo.direction.label</td>
                            <td>$!accountInfo.actionUserNickName</td>
                            <td>$!accountInfo.submitUserNickName</td>
                            <td>$!accountInfo.memo</td>
                            <td>
                                <a href="#" class="pass" style="margin-right: 20px;" accountInfoId="$accountInfo.id">通过</a>
                                <a href="#" class="reject" style="margin-right: 20px;" accountInfoId="$accountInfo.id">拒绝</a>
                            </td>
                        </tr>
                        #end
                    #end

                </tbody>
            </table>
        </div>
        <div role="tabpanel" class="tab-pane" id="unpass">
            <table class="table table-hover table-condensed" style="width:100%;">
                <thead>
                <tr>
                    <th>
                        产生时间
                    </th>
                    <th>
                        金额（元）
                    </th>
                    <th>
                        类型
                    </th>
                    <th>
                        责任人
                    </th>
                    <th>
                        提交人
                    </th>
                    <th>
                        审核人
                    </th>
                    <th>
                        备注
                    </th>

                </tr>
                </thead>
                <tbody>
                    #foreach($accountInfo in $!accountInfoList)
                        #if($!accountInfo.status.code == "20")
                        <tr>
                            <td>$DateUtil.longFormat($!accountInfo.gmtCreate)</td>
                            <td>$!accountInfo.money</td>
                            <td>$!accountInfo.direction.label</td>
                            <td>$!accountInfo.actionUserNickName</td>
                            <td>$!accountInfo.submitUserNickName</td>
                            <td>$!accountInfo.auditUserNickName</td>
                            <td>$!accountInfo.memo</td>
                        </tr>
                        #end
                    #end

                </tbody>
            </table>
        </div>
        <div role="tabpanel" class="tab-pane" id="invalid">
            <table class="table table-hover table-condensed" style="width:100%;">
                <thead>
                <tr>
                    <th>
                        产生时间
                    </th>
                    <th>
                        金额（元）
                    </th>
                    <th>
                        类型
                    </th>
                    <th>
                        责任人
                    </th>
                    <th>
                        提交人
                    </th>
                    <th>
                        审核人
                    </th>
                    <th>
                        备注
                    </th>

                </tr>
                </thead>
                <tbody>
                    #foreach($accountInfo in $!accountInfoList)
                        #if($!accountInfo.status.code == "99")
                        <tr>
                            <td>$DateUtil.longFormat($!accountInfo.gmtCreate)</td>
                            <td>$!accountInfo.money</td>
                            <td>$!accountInfo.direction.label</td>
                            <td>$!accountInfo.actionUserNickName</td>
                            <td>$!accountInfo.submitUserNickName</td>
                            <td>$!accountInfo.auditUserNickName</td>
                            <td>$!accountInfo.memo</td>
                        </tr>
                        #end
                    #end

                </tbody>
            </table>
        </div>
    </div>


</div>

<form method="post" id="postForm">

    <input type="hidden" name="accountInfoId" id="accountInfoId" value="">
    <input type="hidden" name="${_csrf.parameterName}"
           value="${_csrf.token}">
    <input type="hidden" name="action" value="" id="action">

</form>

<script>
    $(".pass").click(function () {

        $("#accountInfoId").val($(this).attr("accountInfoId"));
        $("#action").val("pass")

        $("#postForm").submit();
    });
</script>



<script>
    $(".reject").click(function () {

        $("#accountInfoId").val($(this).attr("accountInfoId"));
        $("#action").val("reject")

        $("#postForm").submit();
    });
</script>




