#set($layout="layout/modernbusiness.vm")


<div class="container" style="background-color:white;padding:30px;">

    <div class="page-header" style="border-bottom: 1px solid #5cb85c">
        <h1>成员管理</h1>
    </div>

    <div class="toplist col-md-7">
        <h4><span class="label label-danger">活动成员</span></h4>

        <div class="row">
            <div class="col-lg-12">
                <ul class="list-unstyled" style="padding: 1rem 1rem;font-size:15px;">

                    #foreach($relaUser in $!allRelaUser)
                        #if($relaUser.valid)
                            <li>
                                <span>$relaUser.userNickName</span> ($relaUser.userRole.desc)

                            ##目前,活动只有管理员和成员两种身份,这主要是考虑到活动的所有权应该归属团队,如果后期新增所有权可以归属个人.比较好转移
                                ##目前不开放活动归属权给个人

                            ##登陆用户是管理员
                                #if($loginUser.isActivityAdmin($activityId))

                                    #if($relaUser.userRole.code == "member" && $relaUser.userId != $loginUser.id)
                                        <a href="#" class="pull-right removeUser" style="margin-right: 20px;" userId="$relaUser.userId">请出团队</a>
                                    #end
                                #end


                            </li>
                        #end
                    #end


                </ul>
            </div>
        </div>

    </div>

    <div class="toplist col-md-4">
        <h4><span class="label label-danger">待审核成员</span></h4>

        <div class="row">
            <div class="col-lg-12">
                <ul class="list-unstyled" style="padding: 1rem 1rem;font-size:15px;">
                    #foreach($relaUser in $!allRelaUser)
                        #if(!$relaUser.valid)
                            <li>
                                <span>$relaUser.userNickName</span>
                                <a href="#" class="pull-right passMemeber" style="margin-right: 20px;" userId="$relaUser.userId">通过</a>
                            </li>
                        #end
                    #end

                </ul>
            </div>
        </div>
    </div>

</div>


<script src="http://cdn.gbtags.com/summernote/0.5.2/summernote.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.6/moment.js"></script>

<script type="text/javascript" src="/js/bootstrap-datetimepicker.min.js" charset="UTF-8"></script>
<script type="text/javascript" src="/js/bootstrap-datetimepicker.zh-CN.js" charset="UTF-8"></script>

<form method="post" id="postForm">

    <input type="hidden" name="userId" id="userId" value="">
    <input type="hidden" name="${_csrf.parameterName}"
           value="${_csrf.token}">
    <input type="hidden" name="action" value="" id="action">

</form>

<script>
    $(".passMemeber").click(function () {

        $("#userId").val($(this).attr("userId"));
        $("#action").val("passMember")

        $("#postForm").submit();
    });
</script>



<script>
    $(".removeUser").click(function () {

        $("#userId").val($(this).attr("userId"));
        $("#action").val("removeUser")

        $("#postForm").submit();
    });
</script>

